/*
.modal{
    width: 30%;
}*/

#wrong-sum, #wrong-value{
    display: none;
    color: salmon;
}

#option-unchecked-msg{
    display: none;
    color: salmon;
}

body{
    padding-right: 0px !important;
}