.mistake {
    color: salmon;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#message-modal .text-center{
    text-align: center !important;

}

#message-modal .modal-header{
    color: #000000 !important;
}

#message-text{
    text-align: center !important;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.login_content form input[type="text"],
.login_content form input[type="email"],
.login_content form input[type="password"] {
    margin: 0;
}

#submit-btn {
    margin-top: 20px;
    margin-left: 9rem;
}